make 1st shared console. tty style.


<p><%= link_to "finish/fix rails/webtutorial", :action => :tutorial %></p>


overflow:hidden
background-position-x: 0px;
background-position-y: -280px
background: url('tileableimage.png')