<ol>          
  <li><h2><strong>rm public/index.html</strong></h2>
      <p>Why every rails dev has to do this remains a mystery.</p>
  </li>
  <li>
    <h2>Use <tt>script/generate</tt> to create classes.</h2>
    <p>80% <tt>model</tt> / <tt>controller</tt>, run without parameters for help.</p>
  </li>
</ol>

<ol>
  <li><a href="http://api.rubyonrails.org/">Rails API</a></li>
  <li><a href="http://stdlib.rubyonrails.org/">Ruby standard library</a></li>
  <li><a href="http://corelib.rubyonrails.org/">Ruby core</a></li>
</ol>

<hr/>

<p>score / credits</p>