<ol>          
  <li><h2><strong>rm public/index.html</strong></h2>
      <p>Why every rails dev has to do this remains a mystery.</p>
  </li>
  <li>
    <h2>Use <tt>script/generate</tt> to create classes.</h2>
    <p>80% <tt>model</tt> / <tt>controller</tt>, run without parameters for help.</p>
  </li>
</ol>

<p style="font-family: Arial, Helvetica, sans-serif;
font-size: 22px; color: rgb(68, 68, 68); font-weight: bold;"> <span style="color: rgb(17, 17, 17)">GLOBAL TRASH</span> <span style="color: rgb(204, 204, 204);">-</span> Hello World</p>

<p style="color: rgb(102, 153, 0); font-family: Georgiax, 'helvetica neue', helvetica, arial;
font-size: 13px;
text-transform: uppercase; font-weight: bold;">Ruby ruby ruby soho</p>
<hr/>

<p>score / credits</p>