



<div id="getting-started">
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>
  
  <ol>          
    <li>
      <h2>Make static <tt>erb.html</tt> be available in a static path aswell.</h2>
      <p>Why every rails app lacks this & needs the class tree is a mystery.</p>
    </li>

    <li>
      <h2>Set up <tt>config/routes.rb</tt></h2>
      <p>Why every rails dev needs to do this tedious task is a mystery.</p>
    </li>

    <li>
      <h2>Create your database (once)</h2>
      <p>Run <tt>rake db:migrate</tt> to create your database. configure database in <tt>config/database.yml</tt></p>
    </li>
  </ol>
</div>

<div id="header">
  <h1>FYI: Waves</h1>
  <h2>You&rsquo;re riding Ruby on Rails!</h2>
</div>