<h1>ohai >:</h1>

<div id="getting-started">
  <h1>Hello, Awesome Scratchpad</h1>
  <h2>We're not yet sure what it is, but here&rsquo;s how to get rolling:</h2>
  




  <ol>     
    <li>
      <h2>Wait</h2>
      <p>instant-signup, just enter name, score points, do stuff. mini scripting (yahoo pipes, done right.), personalized bots.</p>
    </li>
     
    <li>
      <h2>Make static <tt>.erb.html</tt> available in a path structure that overrides controller/action (CSS style routing).</h2>
      <p>Makes it easier to create new pagelets. Also: a mystery.</p>
    </li>

    <li>
      <h2>Set up <tt>config/routes.rb</tt></h2>
      <p>Why every rails dev needs to do this tedious task is a mystery.</p>
    </li>

    <li>
      <h2>Extend your data model while you go along</h2>
      <p>integrated / continuously ... changes your <tt>model/database/data access</tt> reflect in a change in the static parts. current table configuration <tt>can be queried.</tt></p>
    </li>
    
    <li>
      <h2>Wishlist</h2>

      <p><i>maybe make 1st shared console. tty style. needs security sandboxing though. but a web-aware console would be dope.</i></p>

      <p>make web-scripting easier (aka write your own bot. with persistance.)</p>

      
    </li>
  </ol>
</div>

<div id="header">
  <h1>FYI: Waves</h1>
  <h2>You&rsquo;re riding Ruby on Rails!</h2>
</div>