landing page : please sign up

make 1st shared console. tty style.


<p><%= link_to "finish/fix rails/webtutorial", :action => :tutorial %></p>


overflow:hidden
background-position-x: 0px;
background-position-y: -280px
background: url('tileableimage.png')



<h1>Wishlist</h1>

<p>make web-scripting easier (aka write your own bot. with persistance.)</p>



<div id="getting-started">
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>
  
  <ol>          
    <li>
      <h2>Make static <tt>.erb.html</tt> available in a path structure that overrides controller/action (CSS style routing).</h2>
      <p>Makes it easier to create new pagelets. Also: a mystery.</p>
    </li>

    <li>
      <h2>Set up <tt>config/routes.rb</tt></h2>
      <p>Why every rails dev needs to do this tedious task is a mystery.</p>
    </li>

    <li>
      <h2>Create your data model (integrated / continuously)</h2>
      <p>Change your <tt>model/database/data access</tt> database/model reflects change. config <tt>can be queried.</tt></p>
    </li>
  </ol>
</div>

<div id="header">
  <h1>FYI: Waves</h1>
  <h2>You&rsquo;re riding Ruby on Rails!</h2>
</div>