<h1>Welcome to Awesome Scratchpad</h1>

<p>we're not yet sure what it'll be, but it better be awesome.</p>


<h2>Planned features</h2>

<p>instant-signup using your name only, score points, do stuff. mini scripting (yahoo pipes, done right.), personalized bots.</p>


<h1>Wishlist</h1>

<p><i>maybe make 1st shared console. tty style. needs security sandboxing though. but a web-aware console would be dope.</i></p>

<p>make web-scripting easier (aka write your own bot. with persistance.)</p>



<div id="getting-started">
  <h1>Getting started</h1>
  <h2>Here&rsquo;s how to get rolling:</h2>
  
  <ol>          
    <li>
      <h2>Make static <tt>.erb.html</tt> available in a path structure that overrides controller/action (CSS style routing).</h2>
      <p>Makes it easier to create new pagelets. Also: a mystery.</p>
    </li>

    <li>
      <h2>Set up <tt>config/routes.rb</tt></h2>
      <p>Why every rails dev needs to do this tedious task is a mystery.</p>
    </li>

    <li>
      <h2>Create your data model (integrated / continuously)</h2>
      <p>Change your <tt>model/database/data access</tt> database/model reflects change. config <tt>can be queried.</tt></p>
    </li>
  </ol>
</div>

<div id="header">
  <h1>FYI: Waves</h1>
  <h2>You&rsquo;re riding Ruby on Rails!</h2>
</div>