<li>
  <form id="search" action="http://www.google.com/search" method="get">
    <input type="hidden" name="hl" value="en" />
    
    <input type="text" id="search-text" name="q" value="" />
    <input type="submit" value="Search" />
  </form>
</li>

<li>
  <h3>Console</h3>
  <ul class="links">
    <li><%= link_to "console", :controller => :console %></li>
  </ul>
</li>


<li>
  <h3>Start</h3>
  <ul class="links">
    <li><a href="<%= url_for :controller => :scratchpad, :action => :tutorial -%>">tutorial</a></li>
    <li><%= link_to "trash", :controller => :pages %></li>
  </ul>
</li>
  
<li>
  <h3>Documentation</h3>
  <ul class="links">
    <li><a href="http://gist.github.com/149429">Rails Cheatsheet</a></li>
    <li><a href="http://gp2xwiz.co.uk/wiki/">Wiz Wiki</a></li>
  </ul>
</li>
  
<li>
  <h3>Collaborate</h3>
  <ul class="links">
    <li><a href="/communication">Community</a></li>
    <li><a href="/wiki">Wiki</a></li>
  </ul>
</li>

